
.photo-card {
	background: linear-gradient(270deg, #8f9496, #c7cfd4);
	border: 2px solid #c7cfd4;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(4, 91, 114, 0.12),
	  0 1px 1px rgba(4, 102, 122, 0.14), 0 2px 1px rgba(122, 215, 243, 0.2);
	transition: all 0.3s;
	width: 300px;
  }
  .photo-card:hover,
  .photo-card:focus {
	transform: scale(1.05);
	-webkit-box-shadow: 0px 10px 13px -7px #000000,
	  4px 1px 14px 5px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 13px -7px #000000, 4px 1px 14px 5px rgba(0, 0, 0, 0);
  }

  .gallary-image {
	transition: transform 500ms linear;
  }
  
  .gallary-image:hover {
	transform: scale(1.1);
  }

  .gallary-image {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
  }


